$color_1: white;
$color_2: #fff;
$color_3: #818080;
$color_4: #000;
$color_5: #594e7a;
$color_6: #555;
$color_7: #333;
$color_8: #666;
$font-family_1: "Platypi", serif;
$font-family_2: "Lugrasimo", cursive;
$font-family_3: 'Montserrat', sans-serif;
$background-color_1: black;
$background-color_2: #000;
$background-color_3: transparent;
$background-color_4: #111;
$background-color_5: #fff;
$background-color_6: #eee;
$background-color_7: #f5f5f5;
$background-color_8: rgba(0, 0, 0, 0);
$background-color_9: #4CAF50;
$background-color_10: transparent;
$background-color_11: #f2f2f2;
$background-color_12: #fff;
$background-color_13: #333;
$border-color_1: #000;



/* Scroll to top */
/* NavBar */
/* Image Gallery */
/* Main Container */
/* Footer */
/* Social Media Icons */
/* Input Fields */
/* Book Hotels */
/* Button hover effect */
/* Shopping Section */
/* News Section */
/* Food Section */
/* Google Maps Section */
body {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-optical-sizing: auto;
}

.active {
	font-family: $font-family_2;
	font-weight: 800;
	font-style: normal;
}

.scrollToTopBtn {
	background-color: $background-color_1;
	border: none;
	color: $color_1;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	opacity: 0;
	transform: translateY(100px);
	transition: all 0.5s ease;
}

.showBtn {
	opacity: 1;
	transform: translateY(0);
}

.menuLogo {
	height: 40px;
	margin: 0 10px;
}

.footerLogo {
	display: flex;
	align-items: center;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: $background-color_2;
}

.navbarContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbarBrand {
	color: $color_2;
	text-decoration: none;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.navbarToggler {
	background-color: $background-color_3;
	border: none;
	color: $color_2;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.navbarTogglerIcon {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.navbarNav {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;

	a {
		color: $color_2;
		text-decoration: none;
		padding: 10px 20px;

		&:hover {
			&:not(.active) {
				background-color: $background-color_4;
			}
		}
	}
}

.imageGallery {
	display: flex;
}

.imageContainer {
	overflow: hidden;
	position: relative;
	margin: 0;
	transition: height 0.7s ease;

	img {
		height: 130vh;
		display: block;
		opacity: 0.85;
		filter: brightness(70%);
		transition: transform 0.7s ease;
	}

	&:hover {
		img {
			transition: transform 0.7s ease;
			transform: scale(1.1);
			filter: brightness(100%);
		}
	}
}

.imageText {
	position: absolute;
	width: 80%;
	bottom: 20px;
	left: 15px;
	font-size: 2.5em;
	color: $color_2;
	font-weight: bold;
}

.countdownSection {
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.countdownContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: $background-color_12;
	width: 80%;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.235);
}

.countdownImage {
	margin-right: 30px;

	img {
		max-width: 200px;
		border-radius: 5px;
	}
}

.countdownTimer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: $font-family_3;
}

.countdownItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background-color: $background-color_13;
		transition: height 0.3s ease-in-out;
	}
}

.countdownValue {
	font-size: 48px;
	font-weight: bold;
	color: $color_7;
	position: relative;
	z-index: 1;
}

.countdownLabel {
	font-size: 16px;
	color: $color_8;
	margin-top: 5px;
}

.countdownItem.turn {
	&:before {
		height: 100%;
	}
}


.mainContainer {
	margin: 0 3em;
}

.planTrip {
	padding-top: 3em;
}

.bottomLine {
	padding-bottom: 3em;
}

.textSmall {
	color: $color_3;
}

.textHeader {
	font-size: 2em;
	font-weight: bold;
}

footer {
	background-color: $background-color_2;
	color: $color_2;

	.textHeader {
		padding-bottom: 1em;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
}

.footerContent {
	margin: 0 2em;
	padding: 2em 0 4em 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.icons {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: .5em;
}

.fa {
	padding: 15px;
	font-size: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	transition: transform 0.7s ease;

	&:hover {
		opacity: 0.7;
		transition: transform 0.7s ease;
	}
}

.fa-facebook {
	background: #3B5998;
	color: $color_1;
}

.fa-twitter {
	background: #55ACEE;
	color: $color_1;
}

.fa-google {
	background: #dd4b39;
	color: $color_1;
}

.fa-youtube {
	background: #bb0000;
	color: $color_1;
}

.fa-instagram {
	background: #125688;
	color: $color_1;
}

.fa-pinterest {
	background: #cb2027;
	color: $color_1;
}

.inputFields {
	padding-top: 1em;
	margin: 0 3em;
	display: flex;
	justify-content: space-between;
}

input[type="text"] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	width: 50%;
}

select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#hotelList {
	padding: 10px;
	margin: auto 2em;
}

.hotelBox {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 15px 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	.textSmall {
		margin: 0;
	}
}

.hotelContent {
	margin-right: 10px;
}

.subHeading {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
}

.subHead {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

.amenitiesList {
	display: flex;
	flex-wrap: wrap;

	div {
		margin-bottom: 15px;
	}
}

.amenityBox {
	border: solid #000 .5px;
	border-radius: 10px;
	padding: 5px;
	margin: 2px;
	transition: 0.7s ease;

	&:hover {
		background-color: $background-color_2;
		color: $color_2;
		transition: 0.7s ease;
		cursor: default;
	}
}

.hotelImage {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.imageDiv {
	display: flex;
	flex-direction: column;

	img {
		padding-bottom: 10px;
	}
}

.buttonLink {
	display: inline-block;
	padding: 8px 16px;
	background-color: $background-color_2;
	color: $color_2;
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 14px;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

	&:hover {
		background-color: $background-color_5;
		color: $color_4;
		border-color: $border-color_1;
	}
}

.shopContent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 15px 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
	line-height: 2em;

	&:hover {
		background-color: $background-color_6;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transform: translateY(-2px);
	}

	div {
		margin: 0 5px;
	}

	img {
		max-width: 392px;
		height: auto;
	}
}

#newsList {
	display: grid;
	grid-template-columns: 2fr 2fr;
	grid-template-rows: auto;
	grid-gap: 20px;
	padding-top: 3em;
}

.newsContent {
	display: flex;
	align-items: center;
	background-color: $background-color_7;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		background-color: $background-color_5;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	}

	a {
		color: $color_4;
		text-decoration: underline;
		font-style: italic;

		&:hover {
			color: $color_5;
		}
	}
}

.iconDiv {
	margin-left: 10px;
}

.newsIcon {
	max-width: 150px;
	height: 150px;
	object-fit: contain;
	margin-top: 10px;
}

.faqQuestion {
	font-weight: bold;
}

.faqSection {
	margin: 0 30px;

	.faqItem {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		padding: 15px 0;

		details {
			summary {
				padding: 10px;
				cursor: pointer;
				list-style: none;
				position: relative;

				&::-webkit-details-marker {
					display: none;
				}

				&:after {
					content: "+";
					position: absolute;
					right: 10px;
					font-size: 20px;
				}
			}

			&[open] {
				summary {
					&:after {
						content: "-";
					}
				}

				.faqAnswer {
					display: block;
				}
			}

			.faqAnswer {
				padding: 10px;
				display: none;

				ul {
					list-style-type: disc;
					padding-left: 20px;
				}

				li {
					margin-bottom: 5px;
				}
			}
		}
	}
}


#food {
	height: 90vh;
	background-color: $background-color_2;
	background-image: url("/images/food_bg.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	color: $color_2;
	margin: 0;
	padding: 10px 3em;
}

.foodContent {
	padding-top: 1em;
}

.foodText {
	padding-top: 3em;
	width: 50%;
	line-height: 2em;
}

.foodButton {
	border: solid 1px #fff;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: $color_2;
	background-color: $background-color_8;
	border-radius: 7px;
	transition: background-color 0.3s ease;
	margin-top: 1.6em;

	&:hover {
		background-color: $background-color_5;
		color: $color_4;
	}
}

#map {
	width: 100%;
	height: 75vh;
	border: thin solid #ccc;
}

.custom-info-window {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: $background-color_5;
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-info-window-image {
	margin-right: 16px;

	img {
		max-width: 100px;
		border-radius: 4px;
	}
}

.custom-info-window-content {
	flex-grow: 1;

	h3 {
		margin-top: 0;
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 600;
	}

	p {
		margin: 4px 0;
		font-size: 14px;
		color: $color_6;
	}

	p.rating {
		font-weight: 600;
	}

	p.hours {
		margin-top: 8px;
	}
}

#controlPanel {
	display: flex;
	flex-direction: column;
	// align-items: center;
	margin: 2rem 4em;
	text-align: center;

	>div {
		// display: flex;
		// align-items: center;
		margin-right: 3rem;

		.selectLocationLabel {
			font-weight: bold;
			margin-right: 0.5rem;
		}

		#start,
		#end {
			padding: 0.9rem;
			border: 1px solid #ccc;
			border-radius: 4px;
			// width: 360px;
		}
	}
}

#submit {
	padding: 0.6rem 1rem;
	background-color: $background-color_9;
	color: $color_1;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 350px;
}

.submitButton {
	text-align: center;
}

.material-icons {
	font-size: 34px;
	vertical-align: middle;
	border: #000 .1px solid;
	border-radius: 4px;
	padding: 5px;
	background-color: #eee;
	transform: transform 0.5s ease;

	&:hover {
		background-color: $background-color_9;
		transform: transform 0.5s ease;
	}
}


button {
	background-color: $background-color_10;
	border: none;
	padding: 0.5rem;
	cursor: pointer;
	margin-right: 0.5rem;
}

#transport-mode {
	text-align: center;
	margin-top: 1.5rem;
}

#directions {
	margin-top: 1.5rem;

	summary {
		font-weight: bold;
		cursor: pointer;
	}

	details {
		margin-top: 0.5rem;
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
}

@media (max-width: 1145px) {
	input[type="text"] {
		width: 30%;
	}

	.foodText {
		padding-top: 1em;
		width: 60%;
		line-height: 2em;
	}
}

@media (max-width: 1025px) {
	.imageText {
		font-size: 2em;
	}

	.inputFields {
		flex-direction: column;
		align-items: center;
		margin: 0 1em;
	}

	input[type="text"] {
		width: 100%;
	}

	select {
		width: 100%;
		display: flex;
		width: 20em;
	}

	.mainContainer {
		margin: auto 2em;
	}

	#hotelList {
		margin: auto 1em;
	}

	#controlPanel {
		margin: 2rem 1em;
	}

	#submit {
		width: 100%;
	}
}

@media (max-width: 980px) {
	#controlPanel {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 900px) {
	.countdownContainer {
		width: 100%;
	}

	.hotelBox {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	.imageDiv {
		max-width: 50%;
		height: auto;
		margin-bottom: 10px;
	}
}

@media (max-width: 850px) {

	.countdownContainer {
		display: flex;
		flex-direction: column;
	}

	#food {
		background-image: url("/images/food_bg_res.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}

	.foodText {
		width: 80%;
	}

	.newsContent {
		display: flex;
		flex-direction: column-reverse;
	}
}

@media (max-width: 820px) {
	.footerContent {
		flex-direction: column;
		align-items: center;
	}

	.footerLinks {
		ul {
			display: none;
			padding: 0;

			li {
				padding: 10px 0;
			}
		}

		.textHeader {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid white;
			padding: 10px 0;
		}
	}

	.textHeader.activeFooter+ul {
		display: block;
		padding: 10px 0;
	}

	.dropdownIcon {
		font-size: 1.2em;
		cursor: pointer;
	}
}

@media (max-width: 800px) {
	.shopContent {
		display: flex;
		flex-direction: column;

		&:nth-child(odd) {
			flex-direction: column-reverse;
		}
	}
}

@media (max-width: 767px) {
	.navbarNav {
		display: none;
	}

	.navbarToggler {
		display: block;
	}

	.navbarNav.show {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: $background-color_2;
	}
}

@media (max-width: 750px) {
	.imageText {
		font-size: 1.5em;
	}

	.imageContainer {
		&:hover {
			img {
				transform: none;
				filter: brightness(100%);
			}
		}
	}

	#controlPanel {
		margin: 1em 0.2rem;

		div {
			margin: 0;
		}
	}

	// #start,
	// #end {
	// 	 width: auto;
	// }
}

@media (max-width: 680px) {
	.imageGallery {
		display: flex;
		flex-direction: column;
	}

	.imageContainer {
		width: 100vw;
		height: 33vh;
		transition: none;

		img {
			width: 100vw;
			height: auto;
			object-fit: cover;
			transform: translateY(-10rem);
		}

		&:hover {
			img {
				filter: brightness(100%);
			}
		}
	}

	#controlPanel>div {
		display: flex;
		flex-direction: column;
	}

	#submit {
		width: auto;
	}
}

@media (max-width: 650px) {
	#hotelList {
		margin: auto 0;
	}

	#food {
		height: auto;
		background-image: none;
	}

	.foodContent {
		padding-top: 0;
	}

	.foodText {
		width: 100%;
		line-height: 1.4em;
	}

	#newsList {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 550px) {
	.countdownContainer {
		padding: 15px;
	}

	.mainContainer {
		margin: auto .5em;
	}
}

@media (max-width: 500px) {
	.custom-info-window {
		display: flex;
		flex-direction: column;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

@media (max-width: 480px) {
	.shopContent {
		display: flex;
		align-items: center;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

@media (max-width: 410px) {
	.imageText {
		font-size: 1em;
	}

	select {
		width: 100%;
	}
}

@media (max-width: 380px) {
	.mainContainer {
		margin: auto .09em;
	}
}