body {
    margin: 0;
    padding: 0;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

/* NavBar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1B18;
}

nav li {
    float: right;
    border-left: 1px solid #FFFAFF;
}

nav li:first-child {
    border-left: none;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

/* Image Gallery */

.imageGallery {
    display: flex;
}

.imageContainer {
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: height 0.7s ease;
}

.imageContainer img {
    height: 130vh;
    display: block;
    opacity: 0.85;
    filter: brightness(70%);
    transition: transform 0.7s ease;
}

.imageContainer:hover img {
    transition: transform 0.7s ease;
    transform: scale(1.1);
    filter: brightness(100%);
}

.imageText {
    position: absolute;
    width: 80%;
    bottom: 20px;
    left: 15px;
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
}

/* Main Container */

.mainContainer {
    margin: 0 3em;
}

.planTrip {
    padding-top: 3em;
}

.textSmall {
    color: #818080;
}

.textHeader {
    font-size: 2em;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #1E1B18;
    color: #fff;
}

.footerContent {
    margin: 0 2em;
    padding: 2em 0 4em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .textHeader {
    padding-bottom: 1em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Social Media Icons */

.icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5em;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    transition: transform 0.7s ease;
}

.fa:hover {
    opacity: 0.7;
    transition: transform 0.7s ease;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

/* Book Hotels */

.hotelList{
    display: flex;
    flex-direction: row;
}

.hotelBox {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hotelImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}