body {
    margin: 0;
    padding: 0;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

.active{
    font-family: "Lugrasimo", cursive;
    font-weight: 800;
    font-style: normal;
}

/* Scroll to top */

.scrollToTopBtn {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;

    /* place it at the bottom right corner */
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}


/* NavBar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

nav li {
    float: right;
    border-left: 1px solid #FFFAFF;
}

nav li:first-child {
    border-left: none;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

/* Image Gallery */

.imageGallery {
    display: flex;
}

.imageContainer {
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: height 0.7s ease;
}

.imageContainer img {
    height: 130vh;
    display: block;
    opacity: 0.85;
    filter: brightness(70%);
    transition: transform 0.7s ease;
}

.imageContainer:hover img {
    transition: transform 0.7s ease;
    transform: scale(1.1);
    filter: brightness(100%);
}

.imageText {
    position: absolute;
    width: 80%;
    bottom: 20px;
    left: 15px;
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
}

/* Main Container */

.mainContainer {
    margin: 0 3em;
}

.planTrip {
    padding-top: 3em;
}

.bottomLine{
    padding-bottom: 3em;
}

.textSmall {
    color: #818080;
}

.textHeader {
    font-size: 2em;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #000;
    color: #fff;
}

.footerContent {
    margin: 0 2em;
    padding: 2em 0 4em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer .textHeader {
    padding-bottom: 1em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Social Media Icons */

.icons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5em;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    transition: transform 0.7s ease;
}

.fa:hover {
    opacity: 0.7;
    transition: transform 0.7s ease;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

/* Input Fields */

.inputFields {
    padding-top: 1em;
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
}

input[type="text"],
select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"] {
    width: 50%;
}


/* Book Hotels */

#hotelList {
    padding: 10px;
    margin: auto 2em;
}

.hotelBox {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hotelContent {
    margin-right: 10px;
}

.hotelBox .textSmall {
    margin: 0;
}

.subHeading {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}

.subHead {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.amenitiesList {
    display: flex;
    flex-wrap: wrap;
}

.amenitiesList div {
    margin-bottom: 15px;
}

.amenityBox {
    border: solid #000 .5px;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    transition: 0.7s ease
}

.amenityBox:hover {
    background-color: #000;
    color: #fff;
    transition: 0.7s ease;
    cursor: default;
}

.hotelImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.imageDiv {
    display: flex;
    flex-direction: column;
}

.imageDiv img {
    padding-bottom: 10px;
}

.buttonLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Button hover effect */
.buttonLink:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

/* Shopping Section */

.shopContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    line-height: 2em;
}

.shopContent:hover {
    background-color: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.shopContent div {
    margin: 0 5px;
}

.shopContent img {
    max-width: 392px;
    height: auto;
}


/* News Section */

#newsList {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.newsContent {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.newsContent:hover {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.newsContent a {
    color: #000;
    text-decoration: underline;
    font-style: italic;
}

.newsContent a:hover {
    color: #594e7a;
}

.iconDiv {
    margin-left: 10px;
}

.newsIcon {
    max-width: 70px;
    height: 70px;
    object-fit: contain;
    margin-top: 10px;
}



/* Food Section */

#food {
    height: 90vh;
    background-color: #000;
    background-image: url("/images/food_bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    margin: 0;
    padding: 10px 3em;
    /* filter: brightness(70%); */
}

.foodContent {
    padding-top: 1em;
}

.foodText {
    padding-top: 3em;
    width: 50%;
    line-height: 2em;
}

.foodButton {
    /* Remove default button styles */
    border: solid 1px #fff;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-top: 1.6em;
}

.foodButton:hover {
    background-color: #fff;
    color: #000;
}

/* Google Maps Section */
#map {
    width: 100%;
    height: 60vh;
    border: thin solid #ccc;
}